body{
  background: #f5f5f5;
  color: #303030;
  font-family: 'Segoe UI';
}

label{
  width: 5%;
  display: inline-block;
  text-align: right;
}

input{
  background: #ffffff;
  color: #303030;
  font-size: 120%;
  border: none;
}

.Message{
  color: #aa7942;
}

#Main{
  background: #ffd9a8;
  border-radius: 8%;
  padding-left: 8%;
}

#Title{
  font-size: 300%;
}